{
  "api_url": "http://localhost:11434",
  "discord_api_key": "YOUR_API_KEY",
  "minimum_tokens": 5,
  "max_tokens": 2048,
  "max_retries": 3,
  "characters": {
    "default": {
      "name": "Chatbot",
      "model": "ollama/wizard-vicuna-uncensored:7b",
      "avatar": "img/ollama.png",
      "intro_message": "Chatbot is here!"
    }
  },
  "auto_switch_characters": false,
  "character_change_interval": 10800,
  "announce_channels": [
    "123456"
  ],
  "elevated_roles": [
    "123456"
  ]
}
